/* index.html style*/
body {
	background-color: #FAF9F6;
}

h1 {
	font-size: 55px;
	font: sans-serif ;
	font-style:italic;
	color: #722F37;
	background-color: #F3E5AB;
	border-radius: 25px;
	text-align: center;

}

img {
	width: 1250px;
	height: 580px;
	border-radius: 15px;
}

a {
	font: monospace;
	font-style: oblique;
	font-size: 20px;
	i
	
}

